{% set url = path('ads_show', {'slug': ad.slug}) %}

<div class="col-md-4">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
        {{ ad.rooms }} Chambres, <Strong>{{ ad.price | number_format(2, ',', ' ')}}&euro; / nuit</Strong> <br>
        {% if ad.comments | length > 0 %}
            {% include 'partials/rating.html.twig' with {'rating': ad.avgRatings} %}
        {% else %}
            <small>Pas encore noté</small>
        {% endif %}
        </div>
        
            <img src="{{ ad.coverImage }}" alt="Image de l'appartement" style="height: 200px; weidth: 100%; display: block">
        

        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ url }}">
                    {{ ad.title }}                                
                </a>
            </h4>
            <p class="card-text">
                {{ ad.introduction }}
            </p>
            <a href="{{ url }}" class="btn btn-primary float-right">en savoir plus !</a>
            {% if app.user and app.user == ad.author %}
                <a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-secondary">Modifier l'annonce</a>
            {% endif %}
        </div>
    </div>
</div>